@charset "utf-8";
@use "./Variables/Color.scss";
@use "./Variables/Size.scss";



#pageContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
///////////////////////////////////////////////////////////
// タスク一覧
///////////////////////////////////////////////////////////
    #tasksListBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 32px;
        margin-top: 32px;
        #taskAddBtn {
            position: absolute;
            width: 100%;
            height: 100%;
            &:hover {
                cursor: pointer;
            }
        }
        .tasksListBox__task {
            width: 100%;
            height: 50px;
            padding: 0 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: Color.$white;
            .upDownIcon {
                width: 20px;
                height: 20px;
                &:hover {
                    cursor: pointer;
                }
            }
            .dotIcon {
                width: 20px;
                height: 20px;
                &:hover {
                    cursor: pointer;
                }
            }
            // &--title {
                
            // }
        }
    }
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////
// 新規追加フォーム
///////////////////////////////////////////////////////////
    // #taskAddForm {
    //     position: fixed;
    //     bottom: 24px;
    //     width: calc(Size.$pageContent-maxWidth * 0.8);
    //     display: flex;
    //     background-color: Color.$white;
    //     #taskAddBtnBox {
    //         position: relative;
    //         width: 30px;
    //         height: 30px;
    //         #taskAddBtn {
    //             position: absolute;
    //             z-index: 1;
    //             width: 100%;
    //             height: 100%;
    //             &:hover {
    //                 cursor: pointer;
    //             }
    //         }
    //         #taskAddBtnIcon {
    //             z-index: 0;
    //             position: absolute;
    //             width: 100%;
    //             height: 100%;
    //         }
    //     }

    //     #taskTitleInput {
    //         width: 100%;
    //         border: none;
    //         &:focus {
    //             border: none;
    //         }
    //     }
    // }
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////
// 追加ボタン
///////////////////////////////////////////////////////////
#taskAddBtnBox {
    position: fixed;
    bottom: 32px;
    width: 300px;
    height: 42px;
    align-items: center;
    background-color: Color.$white;
    border: 2px solid Color.$black;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }

    #taskAddBtn {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    #taskAddBtnIcon {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    #taskAddMessage {
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
    }

    #taskAddBtn {
        z-index: 1;
        background-color: transparent;
    }
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////




///////////////////////////////////////////////////////////
// ポップアップ
///////////////////////////////////////////////////////////

.popup {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }
  .popup-inner img {
    width: 100%;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .bg-black {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
  }

}