#pageContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
#pageContentWrapper #tasksListBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 32px;
  margin-top: 32px;
}
#pageContentWrapper #tasksListBox #taskAddBtn {
  position: absolute;
  width: 100%;
  height: 100%;
}
#pageContentWrapper #tasksListBox #taskAddBtn:hover {
  cursor: pointer;
}
#pageContentWrapper #tasksListBox .tasksListBox__task {
  width: 100%;
  height: 50px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
#pageContentWrapper #tasksListBox .tasksListBox__task .upIcon {
  width: 20px;
  height: 20px;
}
#pageContentWrapper #tasksListBox .tasksListBox__task .upIcon:hover {
  cursor: pointer;
}
#pageContentWrapper #tasksListBox .tasksListBox__task .downIcon {
  width: 20px;
  height: 20px;
}
#pageContentWrapper #tasksListBox .tasksListBox__task .downIcon:hover {
  cursor: pointer;
}
#pageContentWrapper #tasksListBox .tasksListBox__task .trashIcon {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
}
#pageContentWrapper #tasksListBox .tasksListBox__task .trashIcon:hover {
  cursor: pointer;
}
#pageContentWrapper #addNewTaskForm {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
}
#pageContentWrapper #addNewTaskForm .addNewTaskForm__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}
#pageContentWrapper #addNewTaskForm .addNewTaskForm__addBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
#pageContentWrapper #addNewTaskForm .addNewTaskForm__addBtnBox #button-newTask {
  width: 150px;
  height: 40px;
  background-color: #FDFAE9;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}
#pageContentWrapper #addNewTaskForm .addNewTaskForm__addBtnBox #button-newTask:hover {
  background-color: #000000;
  color: #FFFFFF;
}
#pageContentWrapper #taskAddForm {
  position: fixed;
  bottom: 24px;
  width: 480px;
  display: flex;
  background-color: #FFFFFF;
}
#pageContentWrapper #taskAddForm #taskAddBtnBox {
  position: relative;
  width: 30px;
  height: 30px;
}
#pageContentWrapper #taskAddForm #taskAddBtnBox #taskAddBtn {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#pageContentWrapper #taskAddForm #taskAddBtnBox #taskAddBtn:hover {
  cursor: pointer;
}
#pageContentWrapper #taskAddForm #taskAddBtnBox #taskAddBtnIcon {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#pageContentWrapper #taskAddForm #taskTitleInput {
  width: 100%;
  border: none;
}
#pageContentWrapper #taskAddForm #taskTitleInput:focus {
  border: none;
}
#pageContentWrapper #taskAddBtnBox {
  position: fixed;
  bottom: 32px;
  width: 300px;
  height: 42px;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
}
#pageContentWrapper #taskAddBtnBox:hover {
  cursor: pointer;
}
#pageContentWrapper #taskAddBtnBox #taskAddBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#pageContentWrapper #taskAddBtnBox #taskAddBtnIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
#pageContentWrapper #taskAddBtnBox #taskAddMessage {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
#pageContentWrapper #taskAddBtnBox #taskAddBtn {
  z-index: 1;
  background-color: transparent;
}
#pageContentWrapper .popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
#pageContentWrapper .popup.is-show {
  opacity: 1;
  visibility: visible;
}
#pageContentWrapper .popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
#pageContentWrapper .popup-inner img {
  width: 100%;
}
#pageContentWrapper .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#pageContentWrapper .bg-black {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  cursor: pointer;
}/*# sourceMappingURL=edit_tasks.css.map */