@use "./Variables/Color.scss";



///////////////////////////////////////////////////////////////////////////
// 現在のタスクを表示
///////////////////////////////////////////////////////////////////////////
#presentTaskWrapper {
    display: flex;
    flex-direction: column;
    &__timeLimitAndNextBtn {
        display: flex;
        &--timeLimitViewBox {
            width: 120px;
            height: 120px;
            border: Color.$white;
            border-radius: 50%;
            #onProcess {
                
            }

            #timeLimit {

            }
        }
    }



    &__timeView {

    }



    &__titleView {

    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////