@use "./Variables/Color.scss";


///////////////////////////////////////////////////////////////////////////
// サナミ君が作ってくれた分（後でSCSSに統合します）
///////////////////////////////////////////////////////////////////////////
html {
    background-color: #FDFAE9;
    color: black;
}

body {
    background-image: url("../img/index/bgImage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    display: flex;
    flex-direction: column;
}

#div-departureTimeInputAndPresentTask {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    text-align: center;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.59);
}

#input-departureTime {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#button-wakeup {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0.5em;
    background-color: #FDFAE9;
    color: #3A4909;
    font-weight: 900;
    border-radius: 1em;
}

#div-thisMorningTasks{
    margin: auto;
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////////////////////
// ユーザー入力欄・現在のタスク表示欄の描画管理
///////////////////////////////////////////////////////////////////////////
#div-departureTimeInput, #presentTaskWrapper {
    &.visible {
        display: flex;
    }
    &.invisible {
        display: none;
    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////////////////////
// ユーザー入力欄を表示
///////////////////////////////////////////////////////////////////////////
#div-departureTimeInput {
    #input-departureTime {
        color: Color.$black;
    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////////////////////
// 現在のタスクを表示
///////////////////////////////////////////////////////////////////////////
#presentTaskWrapper {
    display: flex;
    flex-direction: column;
    &__timeLimitAndNextBtn {
        display: flex;
        &--timeLimitViewBox {
            position: relative;
            width: 120px;
            height: 120px;
            border: 1px solid Color.$white;
            border-radius: 50%;
            transition: all 1s ease-in-out;
        }
    }



    &__timeView {

    }



    &__titleView {

    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////