@use "./Variables/Color.scss";



///////////////////////////////////////////////////////////////////////////
// ユーザー入力欄・現在のタスク表示欄の描画管理
///////////////////////////////////////////////////////////////////////////
#div-departureTimeInputAndPresentTask, #presentTaskWrapper {
    &.visible {
        display: flex;
    }
    &.invisible {
        display: none;
    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////////////////////
// ユーザー入力欄を表示
///////////////////////////////////////////////////////////////////////////
#div-departureTimeInputAndPresentTask {
    #input-departureTime {
        color: Color.$black;
    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////






///////////////////////////////////////////////////////////////////////////
// 現在のタスクを表示
///////////////////////////////////////////////////////////////////////////
#presentTaskWrapper {
    display: flex;
    flex-direction: column;
    &__timeLimitAndNextBtn {
        display: flex;
        &--timeLimitViewBox {
            position: relative;
            width: 120px;
            height: 120px;
            border: 1px solid Color.$white;
            border-radius: 50%;
            background-color: inherit;
            overflow: hidden;
            #onProcess, #timeLimit {
                background-color: Color.$light-green;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            #timeLimit {

            }
        }
    }



    &__timeView {

    }



    &__titleView {

    }
}
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////